.column_gap{
    gap: 1.75em;
    flex-direction: column;
}

.page_register{
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 12.5em;
}

.register_inner{
    max-width: 31.25em;
}