.play_page_menu {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    margin-top: 70px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1100;
    
}


.play_container {
    display: flex;
    height: calc(100vh - 4.38em);
}

.left_sidebar {
    width: 25%;
    background-color: var(--color_background_sub);
    padding: 15px 45px 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.left_sidebar_container {
    display: flex;
    flex-direction: column;
    width: 240px;
    gap: 14px;
}

.play_page_title {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
}

.play_page_background {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--color_background);
    box-sizing: border-box;
}

.content_wrap {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 64px;
}

.act_and_subject_wrap {
    min-width: 75%;
    border-right: 1px solid rgba(0,0,0,0.2);
    overflow-y: auto;
}
/* 스크롤 하이드 */
.act_and_subject_wrap::-webkit-scrollbar {
    display: none;
}

.subject_list_wrap {
    overflow-y: auto;
    padding: 0 20px;
}

.hide-left-sidebar .left_sidebar {
    display: none;
}

.hide-right-sidebar .subject_list_wrap {
    display: none;
}

.hide-left-sidebar .play_page_background,
.hide-right-sidebar .play_page_background {
    width: 100%;
}

.sidebar_overlay, .right_sidebar_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.left_sidebar_overlay {
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: var(--color_background_sub);
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: end;
    transition: transform 0.3s ease;
}

.right_sidebar_overlay {
    position: fixed;
    right: 0;
    height: 100%;
    background-color: var(--color_background_sub);
    padding: 65px 15px 15px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: transform 0.3s ease;
}
.subject_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 48px;
    background-color: var(--color_background_sub);
    border-radius: 20px;
    box-shadow: var(--shadow_202);
    padding: 25px 35px;
    gap: 20px;
}
.subject_item{
    width: 134px;
    height: 134px;
    border: 2px solid var(--color_dark);
    border-radius: 20px;
}
@media (max-width: 1440px) {
    .left_sidebar{
        padding: 15px 15px 0 0;
    }
}

@media (max-width: 1024px) {
    .play_container{
        padding-top: 0;
    }
    .sidebar_toggle_button,
    .right_sidebar_toggle_button {
        background: none;
        border: none;
        cursor: pointer;
    }
    .play_page_menu_placeholder {
        height: 49px;
    }
    .act_and_subject_wrap {
        border-right: 0px;
        overflow-y: visible; /* Allow content overflow */
    }
    .content_wrap{
        justify-content: center;
        margin-left: 0;
    }
    .play_container{
        height: auto;
    }
}
