.subjectDetail {
	height: calc( 100dvh - 2rem);
	display: flex;
	flex-direction: column;
	&>.subjectSceneWrapper {
		position: relative;
		flex: 1;
		&>.subjectScene {
		}
		&>.header {
			position: absolute;
			width: 100%;
			padding: 1rem;
			gap: 0.5rem;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&>.goBack {
			position:absolute;
			left: 1rem;
			top: 50%;
			transform: translateY(-50%);
			width: 2.5rem;
			height: 2.5rem;
			&>.icon {
				width: 100%;
				height: 100%;
			}
		}
	}
	&>.mainContext {
		display: flex;
		flex-direction: column;
		&>.zimoonWrapper {
			width: 100%;
			height: 15rem;
			overflow-y: auto;
			background-color: var(--color_background_sub);
			color: var(--color_black);
			&>.zimoon {
				width: 100%;
				display: flex;
				flex-direction: column;
				padding: 1rem;
				gap: 1rem;
				&>.subjectName {

				}
				&>.zimoonContent {

				}
			}
		}
		&>.answerInput {
			padding: 2rem;
			display: flex;
			flex-direction: column;
			gap: 2rem;
			&>.answerTitle {
				font-weight: bold;
				color: var(--color_darkest);
			}
			&>.inputs {
				display: flex;
				gap: 2rem;
				&>.labelAndInput {
					flex: 1;
				}
			}
		}
		&>.bottomContext {

		}
	}
}