.subjectCard {
	position: relative;
	&>.top {
		padding: 1rem 1rem 0 1rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		border: 1px solid var(--color_border);
		border-radius: 1rem 1rem 0 0;
		background-color: var(--color_background);
		&>.actName {
			color: var(--color_dark);
		}
		&>.subjectName {
			color: var(--color_darkest);
		}
		&>img {
			aspect-ratio: 1.77;
			width: 100%;
			border-radius: 0.5rem 0.5rem 0 0;
		}
	}
	&>.bottom {
		padding: 1rem;
		background-color: var(--color_background_sub);
		border-radius: 0 0 1rem 1rem;
		border: 1px solid var(--color_border);
		border-width: 0 1px 1px 1px;
		&.type0 {
			/* 북마크용 */
			display: flex;
			gap: 1rem;
			&>* {
				flex: 1;
			}
		}
		&.type1 {

		}
		&.type2 {

		}
	}
	.bookmark {
		position: absolute;
		right: 1rem;
		top: -0.25rem;
	}
}

.bookmark {
	width: 2rem;
	height: 2rem;
	color: var(--color_gray);
	cursor: pointer;
	&.active {
		color: var(--color_sub);
	}
}