.subjectCard {
	position: relative;
	&>.top {
		padding: 1rem 1rem 0 1rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		border: 1px solid var(--color_border);
		border-radius: 1rem 1rem 0 0;
		background-color: var(--color_background);
		&>.actName {
			color: var(--color_dark);
		}
		&>.subjectName {
			color: var(--color_darkest);
		}
		/* 문제썸네일 */
		&>.imgWrapper {
			width: 100%;
			height: 8rem;
			border-radius: 0.5rem 0.5rem 0 0;
			font-size: 0;
			background-color: var(--color_black);
			@media screen and (max-width:800px) {
				height: 15rem;
			}
			&>img {
				object-fit: contain;
				width: 100%;
				height: 100%;
			}
		}
	}
	&>.bottom {
		padding: 1rem;
		background-color: var(--color_background_sub);
		border-radius: 0 0 1rem 1rem;
		border: 1px solid var(--color_border);
		border-width: 0 1px 1px 1px;
		&.type0 {
			/* 북마크용 */
			display: flex;
			gap: 1rem;
			&>* {
				flex: 1;
			}
		}
		&.type1 {
			/* 진척도용 */
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			&>.dateField {
				&>.check {
					width: 2rem;
					height: 2rem;
				}
			}
			&>.buttons {
				display: flex;
				gap: 0.75rem;
			}
		}
		/* &.type2 {

		} */
	}
	&>.bookmark {
		position: absolute;
		right: 1rem;
		top: -0.25rem;
	}
	&.disabled {
		opacity: 0.55;
		filter: brightness(0.95);
		transition: opacity 0.15s, filter 0.15s;
		&>.bottom.type1 {
			color: var(--color_gray);
		}
		&:hover {
			opacity: 1;
			filter:none;
		}
	}
	&.correct {
		&>.bottom.type1 {
			color: var(--color_green);
		}
	}
	&.incorrect {
		&>.bottom.type1 {
			color: var(--color_red);
		}
	}
}

.bookmark {
	width: 2rem;
	height: 2rem;
	color: var(--color_gray);
	cursor: pointer;
	&.active {
		color: var(--color_sub);
	}
}