.subjectVertex {
	z-index: 1;
	position: relative;
	width: 0.75rem;
	height: 0.75rem;
	background-color: var(--color_sub);
	border: 0.125rem solid var(--color_main);
	border-radius: 100%;
	transform: translate(-50%,-50%);
	&::after {
		z-index: 0;
		content: '';
		display: block;
		position:absolute;
		width: 100%;
		height: 100%;
		top: -25%;
		left: -25%;
		border: 0.125rem solid var(--color_main);
		border-radius: 100%;
		animation-name: subjectVertexEffect;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}
}

@keyframes subjectVertexEffect {
	0% {
		transform: scale(1);
		opacity: 0.67;
	}
	100% {
		transform: scale(3.5);
		opacity: 0;
	}
}