.myAchievementActSelector {
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	border: 1px solid var(--color_border);
	padding: 1rem;
	gap: 1rem;
	&>.tabs {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 0.5rem;
	}
}