.myCommunity.myLeftBox {
	&>.tabs {
		display: flex;
		flex-direction: column;
		&>.genericButton.tab {
			width: 100%;
			margin-top:-1px;
		}
	}
}

.myCommunity.myLeftBoxAlter {
	&>.dropdown {
		width: 100%;
	}
}

.myCommunityCardContainer {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(2,1fr);
}