/* 전체레이아웃 */
#pageMy {
	position: relative;
	width: 100%;
	/* min-height: calc( 
		100dvh - 
		var(--header-height) - 
		var(--footer-height) 
	); */
	display: flex;
	flex-direction: column;
	/* min-height: 100dvh; */
	background-color: var(--color_white);
	/* 컨텐츠영역 */
	&>.mainContents {
		height: 100%;
		padding-top: 4rem;
		padding-bottom: 8rem;
		/* 모바일모드 */
		@media screen and (max-width:800px) {
			padding-top: 0;
			padding-bottom: 0;
		}
		/* 이너박스 (좌우분할)*/
		&>.innerbox {
			width: 1440px;
			display: flex;
			margin: 0 auto;
			gap: 2rem;
			/* 정비례스케일링 */
			@media screen and (min-width:1921px) {
				width: calc( 100vw * (1440/1920));
			}
			/* 탭 */
			@media screen and (max-width:1440px) {
				width: 100%;
				padding: 0 2rem;
			}
			/* 모바일 */
			@media screen and (max-width:800px) {
				padding: 0;
				flex-direction: column;
			}
			/* 좌측(or상단) */
			&>.first {
				width: 15rem;
				min-width: 15rem;
				display: flex;
				flex-direction: column;
				gap: 2rem;
				/* 탭 */
				@media screen and (max-width:1440px) {
					width: 14rem;
					min-width: 14rem;
				}
				/* 모바일 */
				@media screen and (max-width:800px) {
					position: sticky;
					top: 0;
					left: 0;
					padding: 1rem;
					background-color: var(--color_background_sub);
					width: 100%;
					box-shadow: var(--shadow_sticky_down);
				}
			}
			/* 우측(or하단) */
			&>.second {
				flex: 1;
				gap: 3rem;
				display: flex;
				flex-direction: column;
				&>.contents {
					display: flex;
					flex-direction: column;
					gap: 2rem;
					/* 모바일 */
					@media screen and (max-width:800px) {
						padding: 0 1rem;
						padding-bottom: 8rem;
					}
				}

			}
		}
	}
}

/* 상탭(탭) */
#pageMy .myTabs {
	display: none;
	width: 100%;
	/* 1440이내 */
	@media screen and (max-width:1440px) {
		display: flex;
	}
	@media screen and (max-width:800px) {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 1444;;
	}
	&>a {
		flex: 1;
		margin-left: -1px;
	}
}

/* 상탭(데탑only) */
#pageMy .myTabsDesktop {
	display: flex;
	/* 1024이내 */
	@media screen and (max-width:1440px) {
		display: none;
	}
	&>a {
		flex: 1;
		margin-left: -1px;
	}
}

/* 마이타이틀 */
.myTitle {
	width:100%;
	padding-bottom:0.25rem;
	border-bottom: 2px solid var(--color_black);
	display: flex;
	font-weight: bold;
	&::before {
		display: block;
		content: '・';
	}
}

/* 카드콘테이너 */
.myCardContainer {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap: 1rem;
	/* 3줄 */
	@media screen and (max-width:1440px) {
		grid-template-columns: repeat(3,1fr);
	}
	/* 2줄 */
	@media screen and (max-width:1024px) {
		grid-template-columns: repeat(2,1fr);
	}
	/* 1줄 */
	@media screen and (max-width:800px) {
		grid-template-columns: repeat(1,1fr);
	}
}

/* 레프트박스 */
.myLeftBox {
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	border: 1px solid var(--color_border);
	padding: 1rem;
	gap: 1rem;
	@media screen and (max-width:800px) {
		display: none;
	}
}

.myLeftBoxAlter {
	display: none;
	@media screen and (max-width:800px) {
		display: flex;
	}
}