.main_page_header{
    width: 100%; height: calc(100vh - 4.38em);
    position: relative;
    z-index: 99;
    text-align: center;
    background-color: var(--color_background);
}

.main_page_header_inner{
    width: 100%;
    .back{
        width: 50%;
        background-color: var(--color_main);
        border-radius: 0 0 8.75em 0;
        align-items: center;
        justify-content: center;    
    }
    .hd_txt{
        width: 50%;
        align-items: center;
        justify-content: center;
    }
    @media screen and (max-width : 800px) {
        .back{
            width: 100%;
            background-color: var(--color_main);
            border-radius: 0 20px 20px 0;
            align-items: center;
            justify-content: center;
            
        }
        .hd_txt{
            display: none;
        }
    }
}