.main_page_section{
    width: 100%; height: 100vh;
    position: relative;
    z-index: 99;
    text-align: center;
}

.main_page_sec1{
    justify-content: center;
}

.main_page_sec1_inner{
    max-width: 1440px; width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7em;
}

/* --------- sec1 font css ---------- */

.sec1_font_main{
    font-size: 2.5em;
    font-weight: bold;
    color: var(--color_subtitle);
}

.act_cont_wrap .sec1_font_main{
    font-size: 2em;
}

.sec1_font_sub{
    font-size: 1.5em;
    color: var(--color_darkest);
    margin-top: 0.5em;
}

.act_cont_wrap .sec1_font_sub{
    font-size: 1em;
}

/* ---------------------------------------- */

.main_page_sec1_inner .act_cont_wrap{
    gap: 3.5em;
}

.act_cont_wrap>.act_cont:not(:last-child)::after{
    content: '';
    display: inline-block;
    width: 3.75em; height: 0.25em;
    background-color: var(--color_subtitle);
    border-radius: 1.25em;
    position: absolute;
    right: -3.6em; top: 6.25em;
}

.act_cont{
    min-width: 12.5em; max-width: 15em; 
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
    position: relative;
}

.act_cont_img{
    width: 12.5em; height: 12.5em;
    background-color: var(--color_main);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.act_cont_img>img{
    width: 5.63em; height: 5.63em;
    object-fit: cover;
}

.main_page_sec1 .sec1_play_btn{
    width: 12.5em;
    font-size: 1.5em;
    border-radius: 1.25em;
}

.sec1_bot_txt{
    display: none;
}

@media screen and (max-width: 1440px) {
    .main_page_sec1_inner{
        max-width: 1024px;
    }
    .act_cont_wrap>.act_cont:not(:last-child)::after{
        width: 1.88em;
        right: -2.6em;
    }
}

@media screen and (max-width: 1024px) {
    .main_page_sec1_inner{
        max-width: 800px;
    }
    .act_cont_wrap>.act_cont:not(:last-child)::after{
        display: none;
    }
    .act_cont_img{
        width: 10em; height: 10em;
    }
    .act_cont_img>img{
        width: 4.38em; height: 4.38em;
    }
    .act_cont_wrap .sec1_font_main{
        font-size: 1.75em;
    }
    .main_page_sec1_inner .act_cont_wrap{
        gap: 1.75em;
    }
    .act_cont{
        min-width: 10em; max-width: 15em; 
    }
}


@media screen and (max-width: 800px) {
    /* 480px 레이아웃~~~ */
}