.page-intro {
    width: 100%;
    background-color: var(--color_background);
}

.intro_100_white {
    width: 100%;
    background-color: white;
}

.intro_basic_font {
    font-size: 16px;
    color: #0C576C;
}

.intro_top_banner {
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_content_inner{
    max-width: 1190px;
    margin: 0 auto;
}

.intro_message {
    padding: 65px 0 65px 0;
    justify-content: space-between;
}

.intro_Headline_b {
    font-size: 40px;
    color: var(--color_darkest);
}

.intro_small_p {
    color: var(--color_darkest);
    margin: 20px 0 45px 0;
}


.intro_buttons {
    display: flex;
    gap: 20px;
}

.intro_buttons button,
.intro_two_button button {
    width: 233px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    background-color: #127E9B;
    color: #fff;
    border-radius: 5px;
}

.intro_buttons button:hover,
.intro_two_button button:hover {
    background-color: #075C67;
}


/* svg 애니메이션 */
.svg_animation {
    width: 493px;
    height: auto;
    /* background-image: url(/ezdomath/public/img/svganim.svg); */
}


.features {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.feature_item {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.extra_info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.extra_info>div {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    padding: 20px;
    background-color: #f5f5f5;
    /* Example background color */
    border-radius: 8px;
}

.intro_footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    /* Example footer color */
}

.intro_footer a {
    text-decoration: none;
    color: #00796b;
    /* Example link color */
    margin: 0 10px;
}

/* 여기부터 두번째 섹션 */

.intro_two_wrap {
    padding: 65px 0 65px 0;
    background-color: var(--color_background);
}

.intro_two_content {
    display: flex;
    flex-direction: column;
    max-width: 1190px;
    padding: 65px 0 65px 0;
    margin: 0 auto;
    text-align: center;
}


.intro_two_headline {
    font-size: 30px;
    color: #0C576C;
    margin-bottom: 60px;
}

.intro_two_item_wrap {
    justify-content: space-between;
}

.intro_box {
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    margin-bottom: 60px;
}

.intro_item1 {
    background-image: url(/img/intro_item1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
}

.intro_item2 {
    background-image: url(/img/intro_item2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
}

.intro_item3 {
    background-image: url(/img/intro_item3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
}

.intro_two_colorbox {
    width: 100%;
    height: 325px;
    background-image: url(/img/introColorBox1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro_two_colorbox_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorbox_little_font {
    font-size: 13px;
    color: var(--color_subtitle);
    margin-bottom: 24px;
}

.colorbox_big_font {
    font-size: 24px;
    color: var(--color_dark)
}
.intro_list_top{
    margin: 72px 0 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro_list_top_p{
    font-size: 30px;
    color: var(--color_darkest);
    text-align: center;
}
.intro_list_wrap {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro_list_box {
    display: flex;
    justify-content: space-between;
    width: 666px;
    margin-bottom: 170px
}
.intro_list_box_revers {
    display: flex;
    justify-content: space-between;
    width: 666px;
    margin-bottom: 170px;
    flex-direction: row-reverse;
}

.intro_list_imagebox {
    width: 243px;
    height: 243px;
}

.intro_list_box_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro_list_box_small_p{
    font-size: 13px;
    color: var(--color_darkest);
}
.intro_list_box_title_p{
    font-size: 30px;
    color: var(--color_darkest);
    margin-bottom: 30px;
}
.intro_list_box_detail_p{
    position: relative;
    font-size: 16px;
    color: var(--color_darkest);
    margin-left: 30px;
}
.intro_list_box_detail_p::after{
    height: 100%;
    width: 4px;
    display: block;
    background: #8298ed;
    content: "";
    position: absolute;
    left: -30px;
    top: 0px;
}

.intro_list_item1,
.intro_list_item2,
.intro_list_item3,
.intro_list_item4 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.intro_list_item1{
    background-image: url(/img/intro_list_item1.png);
}
.intro_list_item2{
    background-image: url(/img/intro_list_item2.png);
}
.intro_list_item3{
    background-image: url(/img/intro_list_item3.png);
}
.intro_list_item4{
    background-image: url(/img/intro_list_item4.png);
}
.intro_list_box_link{
    font-size: 16px;
    color: #008080;
}

/* 여기서부터 반응형 */
@media screen and (max-width: 1440px) {
    .intro_message {
        justify-content: space-around;
        padding: 35px 15px 35px 15px;
    }

    .intro_Headline_b {
        font-size: 32px;
    }

    .intro_two_colorbox {
        width: 545px;
        height: 500px;
        background-image: url(/img/introColorBox2.webp);
        background-size: cover;
    }

    .intro_box {
        width: 326px;
    }

    .svg_animation {
        width: 350px
    }
    .intro_small_p{
        font-size: 14px;
    }
    .intro_buttons button,
    .intro_two_button button {
        width: 200px;
        height: 50px;
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    .intro_message {
        flex-direction: column-reverse;
        padding: 65px 15px 65px 15px;
    }

    .intro_Headline_b {
        margin-top: 24px;
        font-size: 24px;
    }

    .intro_mobie_flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro_small_p {
        font-size: 14px;
        margin: 20px 20px 45px 20px;
    }

    .svg_animation_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .svg_animation {
        max-width: 300px;
    }

    .intro_top_banner {
        height: 64px;
    }

    .intro_buttons {
        flex-direction: column;
        gap: 10px;
    }

    .features {
        flex-direction: column;
    }

    .extra_info {
        flex-direction: column;
    }

    .intro_footer {
        flex-direction: column;
    }

    .intro_two_headline {
        font-size: 18px;
    }

    .intro_two_item_wrap {
        flex-direction: column;
        align-items: center;
    }

    .intro_two_content {
        padding: 30px 0 30px 0;
    }

    .intro_two_wrap {
        padding: 30px 0 30px 0;
    }

    .intro_two_colorbox {
        width: 300px;
        height: 450px;
        background-image: url(/ezdomath/img/introColorBox3.webp);
    }
    .intro_list_top{
        padding: 30px 15px 70px 15px;
    }
    .intro_list_top_p{
        font-size: 20px;
    }
    .intro_list_moile_block{
        display: block;
    }
    .intro_list_box{
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
        margin-bottom: 100px;
    }
    .intro_list_box_revers{
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
        margin-bottom: 100px;
    }
    .intro_list_box_bottop{
        margin-top: 30px;
    }
}