.page-intro {
    width: 100%;
    /* margin: 0 auto; */
}

.intro_top_banner {
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_content_inner {
    max-width: 1190px;
    margin: 0 auto;
}

.intro_message {
    padding: 65px 0 65px 0;
    justify-content: space-between;
}

.intro_Headline_b{
    font-size: 40px;
    color: var(--color_darkest);
}
.intro_small_p{
    color: var(--color_darkest);
    margin: 20px 0 45px 0;
}


.intro_buttons {
    display: flex;
    gap: 20px;
}

.intro_buttons button {
    width: 233px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    background-color: #127E9B;
    color: #fff;
    border-radius: 5px;
}
.intro_buttons button:hover {
    background-color: #075C67;
}


/* svg 애니메이션 */
.svg_animation{
    width: 493px;
    height: auto;
    background-image: url(/ezdomath/public/img/svganim.svg);
}



.features {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.feature_item {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.extra_info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.extra_info>div {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    padding: 20px;
    background-color: #f5f5f5;
    /* Example background color */
    border-radius: 8px;
}

.intro_footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    /* Example footer color */
}

.intro_footer a {
    text-decoration: none;
    color: #00796b;
    /* Example link color */
    margin: 0 10px;
}

@media screen and (max-width: 480px) {
    .intro_top_banner {
        height: 64px;
    }

    .intro_buttons {
        flex-direction: column;
        gap: 10px;
    }

    .features {
        flex-direction: column;
    }

    .extra_info {
        flex-direction: column;
    }

    .intro_footer {
        flex-direction: column;
    }
}