.userCard {
	padding: 1rem;
	gap: 1rem;
	border-radius: 0.5rem;
	border: 1px solid var(--color_border);
	display: flex;
	/* 좌측프로필 */
	&>.profile {
		border-radius: 0.25rem;
		aspect-ratio: 1;
		width: 4rem;
		@media screen and (max-width:800px) {
			width: 3rem;
		}
	}
	/* 중단이름 */
	&>.middle {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		&>.name {
			color:var(--color_darkest);
		}
		&>.schoolName {
			color:var(--color_dark);
		}
		@media screen and (max-width:800px) {
			justify-content: space-between;
		}
	}
	/* 버튼컨테이너 */
	&>.buttons {
		display: flex;
		gap: 1rem;
		align-items: flex-end;
		&>.invitationExists {
			color: var(--color_gray);
		}
		@media screen and (max-width:1440px) {
			gap: 0.75rem;
		}
	}
	@media screen and (max-width:1440px) {
		padding: 0.75rem;
		gap: 0.75rem;
	}
}