.actProgress {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--color_white);
	border: 1px solid var(--color_border);
	transition: 0.15s;
	&>.top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&>.actName {
			color: var(--color_darkest);
		}	
		&>.counts {
			color: var(--color_main);
		}
	}
	&>.gauge {
		background-color: var(--color_gray);
		width: 100%;
		height: 0.5rem;
		border-radius: 8192px;
		&>.fill {
			height: 100%;
			border-radius: 8192px;
			opacity: 0.5;
			background-color: var(--color_main);
			transition: 0.15s;
		}
		@media screen and (max-width:800px) {
			height: 0.375rem;
		}
	}
	&.active {
		background-color: var(--color_main);
		border-color: rgba(0,0,0,0);
		&>.top {
			&>.actName {
				color: var(--color_sub);
			}	
			&>.counts {
				color: var(--color_sub);
			}
		}
		&>.gauge {
			&>.fill {
				opacity: 1;
				background-color: var(--color_sub);
			}
		}
	}
	&.dropdown {
		border-width: 0 0 1px 0;
		border-radius: 0;
	}
	@media screen and (max-width:800px) {
		gap: 0.75rem;
		padding: 0.75rem;
	}
}

.display>.actProgress {
	padding-right: 3rem;
	border-width: 1px;
	border-color: var(--color_border);
	border-radius: 0.5rem;
}