.notice_detail_wrap {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(105, 69, 69, 0.1);
}

.notice_detail_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.notice_detail_title{
    margin: 16px 0 16px 15px;
}
.notice_detail_content {
    min-height: 500px;
    margin-bottom: 20px;
}

.notice_detail_buttons {
    display: flex;
    justify-content: space-between;
}

.notice_detail_buttons button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--color_main);
    color: white;
    cursor: pointer;;
}

.noti_detail_btn_box{
    display: flex;
    gap: 28px;
}
/* .notice_detail_buttons button:hover {
    background-color: #0056b3;
} */
