/* NotiSearch.css */
.noti_search_wrap {
    display: flex;
    align-items: center;
}

.noti_search_form {
    display: flex;
}

.search_bar {
    display: flex;
}

.search_bar select,
.search_bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search_bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--color_main);
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .notice_post_count{
        display:none
    }
    .notice_list_top {
        justify-content: end;
    }
    .search_bar select, .search_bar input {
        margin-right:0;
    }
}