@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color_darkest: #1A3659;
    --color_dark: #4E42CA;
    --color_main: #67B3EA;
    --color_sub: #FFEF26;
    --color_background: #FEF8ED;
    --color_background_sub: #F8FAFF;
    --color_subtitle: #F16D36;
    --color_black: #252525;
    --color_gray: #CCC;
    --color_white: #FAFAFA;
    --color_green: #00B050;
    --color_red: #C00000;
    --color_border: rgba(0, 0, 0, 0.25);
    --shadow_404: 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    --shadow_303: 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.25);
    --shadow_202: 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.25);
    --shadow_sticky_down: 0 1rem 1rem rgba(0, 0, 0, 0.15);
    --shadow_sticky_up: 0 -1rem 1rem rgba(0, 0, 0, 0.15);
    --font_family_sans: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	@media screen and (min-width:1921px) {
		font-size: calc( 100dvw * (16 / 1920) );
	}
}

body {
    font-family: var(--font_family_sans);
}

a {
	text-decoration: none;
	color: inherit;
	&:visited {
		color: inherit;
	}
	&:active {
		color: inherit;
	}
}

.flex {
    display: flex;
}

.opacity {
    filter: brightness(0.8);
    opacity: 0.6;
    pointer-events: none;
}

.button_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
}

.card_container {
    display: grid;
    gap: 1.25rem;
    padding: 1.25rem;
}

.card {
    background-color: var(--color_background_sub);
    border-radius: 0.5rem;
    position: relative;
    border: 1px solid var(--color_border);
}

.card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.card_title {
    color: var(--color_dark);
}

.card_star {
    position: absolute;
    top: -0.5rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--color_sub);
    width: 2rem;
    height: 2rem;
    background-size: cover;
    cursor: pointer;
}

.card_star.active {
    background-image: url('./star.png');
}

.card_star {
    background-image: url('./nostar.png');
}

.card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
    gap: 0.5rem;
}

.card_content>img {
    height: 8rem;
    border-radius: 1rem 1rem 0 0;
}

.card_footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-top: 1px solid var(--color_border);
}

.card_button {
    width: 48%;
    text-align: center;
    padding: 0.625rem 0;
    border: 1px solid var(--color_main);
    color: var(--color_main);
    border-radius: 0.5rem;
    cursor: pointer;
}

.card_button:hover {
    background-color: var(--color_main);
    color: var(--color_sub);
}

/* 기본 화면 (데스크톱) */
.card_container {
    grid-template-columns: repeat(4, 1fr);
}

.top_banner {
    min-height: 15rem;
    background-image: url('your-image-url.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    margin: 1.25rem auto;
}

.tab_btn {
    width: 20rem;
    color: var(--color_darkest);
    background-color: var(--color_background_sub);
    padding: 0.625rem 0;
    gap: 0.5rem;
    text-align: center;
    border: 1px solid var(--color_border);
    justify-content: center;
}

.large_btn,
.medium_btn,
.small_btn {
    /* width: 20rem; */
    color: var(--color_main);
    text-align: center;
    border-radius: 0.3125rem;
    border: 1px solid var(--color_main);
    background-color: transparent;
}

.large_btn {
    padding: 0.75rem 0;
}

.medium_btn {
    padding: 0.5rem 1rem;
}

.small_btn {
    padding: 0.375rem 0.75rem;
    border-radius: 1.25rem;
}

.dropdown_btn,
.dropdown_btn_small {
    width: 20rem;
    color: var(--color_darkest);
    text-align: center;
    border: 1px solid var(--color_darkest);
    background-color: var(--color_white);
}

.dropdown_btn {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.dropdown_btn_small {
    padding: 0.375rem 0.75rem;
}

.tab_btn.active,
.large_btn.active,
.medium_btn.active,
.small_btn.active {
    background-color: var(--color_main);
    color: var(--color_sub);
}

.dropdown_btn.active,
.dropdown_btn_small.active {
    background-color: var(--color_darkest);
    color: var(--color_sub);
}

.dropdown_btn,
.dropdown_btn_small {
    position: relative;
    cursor: pointer;
    justify-content: center;
}

.dropdown_btn .chevron,
.dropdown_btn_small .chevron {
    background-image: url(mask_icon1.png);
    width: 0.75rem;
    height: 0.75rem;
    position: absolute;
    right: 0.625rem;
    transition: transform 0.3s ease;
    pointer-events: none;
}

.dropdown_btn .chevron {
    top: 0.75rem;
}

.dropdown_btn_small .chevron {
    top: 0.5rem;
}

.dropdown_btn.active .chevron,
.dropdown_btn_small.active .chevron {
    transform: rotate(180deg);
    background-image: url(mask_icon2.png);
    pointer-events: none;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: var(--color_white);
    min-width: 20rem;
    z-index: 1;
}

.dropdown_content a {
    color: var(--color_darkest);
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown_content a:hover {
    background-color: var(--color_darkest);
    color: var(--color_sub);
}

.progress_btn {
    width: 20rem;
    padding: 0.75rem;
    text-align: center;
    border: 1px solid var(--color_darkest);
    border-radius: 0.3125rem;
    color: var(--color_darkest);
    background-color: var(--color_white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
}

.progress_title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.progress_bar {
    width: 100%;
    height: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--color_gray);
    overflow: hidden;
}

.progress {
    width: 0;
    height: 100%;
    background-color: var(--color_sub);
}

.progress_btn.active {
    background-color: var(--color_main);
    color: var(--color_white);
    border: none;
}

.progress_btn.active .progress_bar {
    background-color: var(--color_darkest);
}

.progress_btn.active .progress_title {
    color: var(--color_sub);
}

.progress_btn.active .progress {
    width: 100%;
}

/* Font styles */
.font_small {
    font-size: 0.875rem;
    line-height: 1rem;
}

.font_title {
    font-size: 2rem;
    line-height: 2.5rem;
}

.font_medium {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.font_main {
    font-size: 1rem;
    line-height: 1.25rem;
}

.card_check {
    align-items: center;
    justify-content: space-evenly;
    gap: 0.75rem;
}

.card_check>.date {
    color: var(--color_green);
}

.card_icon_border {
    border: 0.125rem solid var(--color_main);
    border-radius: 0.5rem;
}

.card_write_icon,
.card_move_icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem;
}

.card_check_icon {
    width: 2rem;
    height: 2rem;
    background-image: url(./none_icon.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.card_check_icon.active {
    width: 2rem;
    height: 2rem;
    background-image: url(./check.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.card_write_icon {
    background-image: url(./blue1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.card_move_icon {
    background-image: url(./blue2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.card_icon_border:hover{
    background-color: var(--color_main);
}
.card_write_icon.active{
    background-image: url(white1.png);
}
.card_move_icon.active{
    background-image: url(white2.png);
}

.card_content_top_modal {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    border-bottom: 1px solid var(--color_border);
}

.card_content_modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem 1rem 1rem;
    gap: 0.5rem;
}

.card_content_modal>img {
    border-radius: 0 0 1rem 1rem;
    height: 7.5rem;
}
.discorver_wave,.spotlight_wave{
    display: block;
    width: 100%;
}

@media screen and (max-width: 1140px) {
    .card_footer>.card_check:first-child {
        flex-direction: column;
        align-items: start;
        gap: 0;
        justify-content: start;
    }
}

/* 화면 너비가 최대 1440px일 때 */
@media screen and (max-width: 1440px) {
    .font_small {
        font-size: 0.875rem;
        line-height: 0.875rem;
    }

    .font_title {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .font_medium {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .font_main {
        font-size: 0.875rem;
        line-height: 1.125rem;
    }

    .top_banner {
        min-height: 14rem;
    }

    .card_container {
        grid-template-columns: repeat(3, 1fr);
    }

    .card_content_modal {
        padding: 0 0.75rem 0.75rem 0.75rem;
    }

    .card_content {
        padding: 1rem 1rem 0 1rem;
    }
}

@media screen and (max-width: 768px) {
    .card_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 화면 너비가 최대 800px일 때 */
@media (max-width:800px) {
    .font_small {
        font-size: 0.875rem;
        line-height: 0.875rem;
    }

    .font_title {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    .font_medium {
        font-size: 1.125rem;
        line-height: 1.375rem;
    }

    .font_main {
        font-size: 0.875rem;
        line-height: 1rem;
    }

    .top_banner {
        height: 4rem;
    }

    .tab_btn {
        gap: 0.625rem;
        flex-direction: column;
    }

    .card {
        min-width: 17.5rem;
    }

    .card_container {
        grid-template-columns: 1fr;
    }

    .card_content>img {
        height: 10rem;
    }

    .card_star {
        top: -0.375rem;
    }

    .card_footer>.card_check:first-child {
        flex-direction: row;
        align-items: center;
        gap: 0.75rem;
        justify-content: space-between;
    }
}