.top-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color_background_sub);
  color: var(--color_darkest);
  text-align: center;
  width: 100%;
  max-width: 100%;
  height: 8rem;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .top-banner {
      height: 8rem;
  }
}

@media (max-width: 800px) {
  .top-banner {
    height: 4rem;
  }
}
